@charset "UTF-8";

/* flip the pane when hovered */

.flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flip-container, .front, .back {
    width: 190px;
    height: 150px;
}


/* flip speed */

.flipper {
    transition: 0.8s;
    transform-style: preserve-3d;
    position: relative;
}


/* hide back of pane during swap */

.front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}


/* front pane, placed above back */

.front {
    z-index: 2;
    transform: rotateY(0deg);
}


/* back, initially hidden pane */

.back {
    transform: rotateY(180deg);
    background-color: #fff;
}

.backImg {
   background: url(../img/default-image.jpg) center center no-repeat;
   width: 190px;
   height: 150px;
   /*vertical-align: middle;
   background-size: cover;*/
   background-size: contain;
}

.artist-1 {
    background: url(../img/default-imageB.jpg) center center no-repeat;
  	background-size: cover;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
